<div class="container">
  <div align="center">
    <h1> Welcome to Viral Square's Attendence Management System </h1>
    <hr />
    <div class="container-fluid well span10">
      <h3><strong>Your Attendence</strong></h3>
      <caption><h5>Checked-In Hours</h5></caption>
      <br>
      <div id="chartContainer"><%= @chart.render() %></div>
    </div>
  </div>
</div>
