<div class="container">
  <div align="center">
    <h1> Welcome to Viral Square's Attendence Management System </h1>
    <hr />
    <div class="container-fluid well span10">
      <h3><strong>Your Attendence in this Month</strong></h3>
      <caption><h3><%= Time.now.strftime("%B, %d/%Y") %></h3></caption>
      <br>
      <% if current_user.attendences.first.hours != nil %>
      <% else %>
        <h3><strong>Employee has currently no attendance record.</strong></h3>
      <% end %>
    </div>
  </div>
</div>
