<div class="form-group">
  <label class="col-lg-3 control-label">Date</label>
  <div class="col-lg-8">
    <%= f.date_select :date , class: "form-control" %>
  </div>
</div>
<div class="form-group">
  <label class="col-lg-3 control-label">Check_In</label>
  <div class="col-lg-8">
    <%=  f.time_select :check_in, class: "form-control" %>
  </div>
</div>
<div class="form-group">
  <label class="col-lg-3 control-label">If late then reason</label>
  <div class="col-lg-8">
    <%= f.text_area :reason, autofocus: true, autocomplete: 'reason', class: 'form-control' %>
  </div>
</div>
